html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------------RESET CSS- -------------------------------------------*/
@font-face{  /*declarar la fuente que descargue*/
    font-family: 'creemeWE';
    src: url(../FONT/cibergotica/CiberGotica.otf);       
}
body{
	font-family:  'creemeWE';
}
section{
    width: 700px;
    height: 500px;
	background-image: url(../IMAGE/espejos.jpg);
	margin: auto;
	display: flex;
}


.R,.O,.M,.A,.R2,.I,.O{
	display: flex;
	/*background-color: rgba(0, 255, 255, 0.322);*/
}
.r,.o,.m,.ar,.r,.i,.o{
	margin: auto;
}
.R{
	width: 24%;
	height: 50%;
	margin-left: 19%;
	margin-top: 10%;
	
}
.r{
	font-size: 145px;
}

.O{
	margin-top: 49%;
	margin-left: -20%;
	width: 30%;
	height: 30%;
}
.o{
	font-size: 135px;
}

.M{
	margin-top: 10%;
	margin-left: -5%;
	width: 22%;
	height: 31%;
}
.m{
	font-size: 150px;
}


.A{
	width: 24%;
	height: 50%;
	margin-left: 4%;
	margin-top: 20%;
}

.ar{
	font-size: 160px;
	margin-top: -20%;
	
}

.I{	
	margin-top: 49%;
	width: 13%;
	height: 31%;
	margin-left: -38%;
}

.R2{
	width: 700px;
	height: 500px;
	margin: auto;
	/*background-color: rgba(165, 42, 42, 0.288);*/
}
.i{
	font-size: 200px;
}

.r2{
	font-size: 127px;
	margin-left: 77%;
	margin-top: -13%;
}
.O2{

}